* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    width: 90%;
    margin: 0 auto;
    background-color: brown;
  }
  .container1 {
    height: 10vh;
    background-color: rgb(43, 226, 125);
  }
  .container2 {
    height: 65vh;
    background-color: blueviolet;
  }
  .container3 {
    height: 50vh;
    background-color: rgb(226, 43, 186);
  }
  .container4 {
    height: 50vh;
    background-color: rgb(226, 131, 43);
  }
  .container5 {
    height: 30vh;
    background-color: rgb(223, 226, 43);
  }
  .container6 {
    height: 10vh;
    background-color: rgb(43, 153, 226);
  }
}
